<% provide(:title, 'Ayuda') %>


<div class="panel panel-primary">
  <div class="panel-heading">Ayuda</div>
  <div class="panel-body">
    <ul>
      <li>Sólo se puede acceder al formulario con una cuenta de Katemu.</li>
      <li>Usted DEBE estar loggeado en su cuenta de Katemu para poder acceder al formulario.</li>
    </ul>
  </div>
</div>
