<% provide(:title, 'Ayuda') %>

<% if current_user %>

    <%= link_to "Sign out", signout_path, id: "sign_out" %>

<div class="panel panel-primary">
  <div class="panel-heading">Ayuda</div>
  <div class="panel-body">
    <ul>
      <li>Sólo se puede acceder al sistema con una cuenta de Katemu.</li>
      <li>Usted DEBE estar loggeado en su cuenta de Katemu para poder acceder al formulario.</li>
    </ul>
  </div>
</div>

<div class="back">

  <button type="button" class="btn btn-default btn-lock">

    <%= link_to '<span class="glyphicon glyphicon-chevron-left"></span>'.html_safe, home_path %>

  </button>

</div>

<% else %>
    <%= link_to image_tag("sign-in-with-google.png", id: "signingoogle"), "auth/google_oauth2" %>
<% end %>
