<% provide(:title, 'Home') %>


<%= image_tag("inicio.png", id:"webhome") %>

<%= image_tag("iphonehome.jpg" , id: "iphonehome")%>

<div class="botonesinicio">
<button type="button" class="btn btn-default"><%= link_to "Formulario", form_path %></button>
<button type="button" class="btn btn-default"><%= link_to "Ayuda", help_path %></button>
</div>

