<%= provide(:title,"Empleados") %>
<h4>Editar Empleado</h4>

<%= render 'form'%>

<%= link_to 'Show', @empleado, :class => "btn btn-primary btn-lg"%>
<%= link_to 'Back', empleados_path, :class => "btn btn-primary btn-lg" %>
